@import url('https://fonts.googleapis.com/css2?family="Source+Sans+Pro');
body {
    width: 60vw;
    height:100vh;
    margin: 1vh auto; 
    background: rgb(73,252,212);
    background: linear-gradient(171deg, rgba(0,0,0,1) 0%,rgba(73,252,212,1) 33%, rgba(46,161,135,1) 64%, rgba(0,0,0,1) 86%);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.App {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    min-height: 90vh;
}
.App-logo {
    display: inline;
    width: 30%
}

ul {
    list-style: none;
}
.App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: flex-end;    
}
h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1.0em;
    text-transform: none;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-end;
    align-self: center;
    width: 50%;
    font-weight: 1000;
    }

    a{
    text-decoration: none;
    color: black;
    font-family: "Raleway", Helvetica, sans-serif;
    letter-spacing: 0.00345;
}

